.general-value {
    min-width: 100px;
    white-space: nowrap;
    font-size: 18px;
    color: var(--ui-text);
}
.general-value .unit-mwh {
    color: rgb(173, 81, 13);
}
@media (prefers-color-scheme: dark) {
    .general-value .unit-mwh {
        color: rgb(237, 155, 94);
    }
}
@media screen and (max-width: 900px) {
    .general-value {
        font-size: 16px;
        min-width: 0;
    }
}

@media screen and (max-width: 768px) {
    .general-value {
        font-size: 14px;
        min-width: 0;
    }
}